<!DOCTYPE html>
<html>
  <head>
    <title>ClicKingdom</title>
    <meta name="description" content="An empire-building clicker">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Metamorphous|Source+Sans+Pro" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- component templates -->
    <script type="text/x-template" id="tile-template">
      <li
        class="hex"
        v-bind:class=""
      >
        <div class="hex-in">
          <a href="#" class="hex-link">
            <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
          </a>
        </div>
      </li>
      <section class="mood card">
        <header class="mood__header card-divider">
          <h3><i v-bind:class="'e1a-' + icon"></i>{{ title }}</h3>
        </header>
        <ul class="mood__options card-section menu vertical">
          <li v-for="option in options">
            <a v-bind:href="option.url">{{ option.title }}</a>
          </li>
        </ul>
      </section>
    </script>
    <!-- END of component templates -->
    
    <div class="support-warning">
      <h1>
        Uh oh.
      </h1>
      <p>
        Looks like your browser doesn't support CSS Variables, so this site probably won't make much sense to you.
        You can check <a href="http://caniuse.com/#feat=css-grid">Can I Use</a> to find a browser that does 
        support this feature.
      </p>
    </div>
    <header>
      <h1 class="main-title">
        🏘️ 🌾 🏰 ClicKindom 🏰 ⚔️ 🏘️
      </h1>
    </header>

    <main id="#main">
      <ul class="hex-grid">
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex hex_start">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fruin-green-tile.svg?1495997249828">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
          <li class="hex">
            <div class="hex-in">
              <a href="#" class="hex-link">
                <img src="https://cdn.glitch.com/7f1f1519-54c4-4968-b334-78d8fe707213%2Fplain-green-tile.svg?1495997250005">
              </a>
            </div>
          </li>
      </ul>
    </main>

    <footer>
      <a href="https://glitch.com/edit/#!/clickingdom">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.3.3"></script>
    <script src="/client.js"></script>

  </body>
</html>
